*{
    font-family: 'Linux Biolinum', sans-serif;
    /* font-family: 'Linux Biolinum Slanted', sans-serif; */
    /* font-family: 'Linux Biolinum Capitals', sans-serif; */
    list-style: none;
    text-decoration: none;
}
/* .container {
} */
.content a{
    color: black;
}
.logo{
    height: 7rem;
    display: flex;
    align-items: center;
    mix-blend-mode: multiply; /* fusionará la imagen con el fondo subyacente, creando la apariencia de transparencia. */
}
.logo img {
    max-height: 100%;
}
header {
    background-color: #d3d3d3;
    border-radius: 0.5rem;
    position: sticky; /*sirve para fijar un elemento en una posición específica mientras el usuario se desplaza por la página */
    z-index: 50;
}
header .container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
    gap: 2rem;
}
nav a {
    color: #1f2937;
    font-size: 1.1rem;
}
nav a:hover {
    color: #8b8988;
}
/* .aside {

}
.main {

}
.footer {

} */