*{
    color: rgba(rgb(35, 58, 71));
    font-family: "Red Hat Display", sans-serif;
}
body{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

section.card{
    background-color: rgb(167, 228, 243);
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(rgb(51, 79, 95));
    padding: 3rem;
    text-align: center;
    margin-top: 15%;
}

section.card h1{
    color: rgb(22, 38, 92);
}

section.card button{
    margin-top: 1rem;
    padding: 0.60rem;
    border: none;
    color: rgb(22, 38, 92);
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

section.card button:hover{
    background-color: rgb(22, 38, 92);
    color: white;
}
